html,
body {
  height: 100%;
  margin: 0px;

  /* 기본 폰드 스타일 정의*/
  font-size: 20px;
  color: black;
  font-family: 'Hi Melody';

  /* 기본 배경 색 */
  background-color: #EEEDE6;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 20px;
}